body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

/* Top Banner */
.top-banner {

    display: grid;
    background-color: #2D25A0;
    grid-template-columns: repeat(2, 1fr);



}



.left-content p {
    font-weight: 700;
    line-height: 80px;
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 127px;
    width: 50%;
    margin-bottom: 46px;


}

.live-btn {
    margin-bottom: 169px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 180px;
    transition: all 0.3s ease 0s;
}



.live-btn:hover {
    font-weight: 700 !important;
    letter-spacing: 5px;
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}



.right-content img {
    width: 556px;
    height: 438px;
    margin-top: 50px;
}

/* Players Card */
.player-cards {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
    justify-items: center;
}

.player {
    width: 330px;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 30px;


}

.player-thumbnail img {
    width: 100%;
}

/* Achievements Section */

.achievements {
    margin-top: 165px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);

}

.achievement {
    padding-right: 60px;
}

.achievement h3 {
    /* display: flex;
    justify-content: center; */
    color: #fbc02d;
    font-size: 60px;


}

.achievement p {
    color: #FFFFFF;
    font-size: 18px;
    margin-block-start: unset;
    text-transform: uppercase;
    font-weight: 500;

}

/* Award Section */

.award-section {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    margin-top: 100px;


}

.award-section>h3 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 50px;
}

.awards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.award {
    width: 300px;
    margin-left: 45px;
    background-image: linear-gradient(360deg, #3633a799 0%, #09097900 35%, #00d4ff05 10%);
}


.award h3 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #FFFFFF;

}

.award img {
    width: 100%;
}

.award p {
    display: flex;
    justify-content: center;
    color: #fbc02d;
    font-weight: 700;
    font-size: 20px;
}

/* Footer Area */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}



.social-media {
    text-align: center;
}

.social-media .icon {
    color: #969BAB;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.footer-area p {
    font-size: 18px;
    text-align: center;
}


/* Media Queries */

/* Mobile Devices */

@media only screen and (max-width: 767px) {

    .top-banner {

        display: grid;
        background-color: #2D25A0;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;



    }

    .left-content p {

        margin-left: 10px;
    }

    .live-btn {
        margin-left: 10px;
    }

    .right-content img {
        width: 100%;

        margin-top: 100px;
    }


    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        margin-left: 0;
    }

    .achievements {
        margin-top: 165px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

    }

    .achievement {
        padding-right: 0px;
    }

    .award-section>h3 {
        font-size: 30px;
    }

    .awards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .award {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .footer-area img {
        width: 85%;
    }

}